@import "~bootstrap/scss/bootstrap.scss";



body {
  font-family: 'Roboto', sans-serif;
}

h1.title {
  text-align: center;
  color: black;
  letter-spacing: 2px;
}
h1.todo-header {

  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
}

.container{

    width: 621px;
    margin-top: 195px;
    border: #ececec solid 1px;
    padding: 0px;

  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
}


ul {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {

    padding: 20px;
    line-height: 2em;
    margin: 0;
    border-bottom: 1px solid #f1eded;
    font-size: 22px;
        color: gray;
}



li.clicked {
  color: gray;
  text-decoration: line-through;
}

input#addToDo {
  font-size: 22px;
   width: 100%;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-border-box: border-box;
}

input#addToDo:focus {
  background: white;



  transition: 0.1s;
}

i.fa-trash {


}

span {

  height: 45px;
  width: 10px;


  text-align: center;
  display: inline-block;
  color: gray;
  opacity: 0;
  transition: .2s linear;
float: right;

}

li:hover span {
  opacity: 1.0;
  width: 40px;
}

.top{
        position: absolute;
    top: 83px;
    right: 590px;
    font-size: 101px;
    font-weight: 100;
    color: #dfa8b2;


}